<div class="contenedor">
  <form [formGroup]="formulario">
    <div class="input">
      <label for="name">Name</label>
      <input type="text" formControlName="name" name="name" />
    </div>
    <div class="input">
      <label for="lastName">last Name</label>
      <input type="text" formControlName="lastName" name="LastName" />
    </div>
  </form>
</div>
<div class="contenedor">
  <div class="input">
    <label for="campoForm">Campo Form</label>
    <input type="text" name="campoForm" [formControl]="campoForm" />
  </div>
</div>
<div class="contenedor">
  <div class="input">
    <label for="campoNgModel">Campo ngModel({{ campoNgModel }})</label>
    <input
      type="text"
      name="campoNgModel"
      (ngModelChange)="ngModelCambio($event)"
      [(ngModel)]="campoNgModel"
    />
  </div>
</div>
